/* These classes are mobile first */
.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.title {
    margin: 20px 0;
    text-align: center;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.space {
    margin: 0 10px;
    align-self: center;
}

.subContainer{
    width: 60%;
}

/* For Desktop View */
@media screen and (min-width: 768px) {
    .subContainer {
        width: 400px;
    }
}

/* For Tablet View 
@media screen and (min-device-width: 768px)
    and (max-device-width: 1024px) {
}*/